*, *::before, *::after {
    box-sizing: inherit;
}

html {
    /* ADD BOX SIZING TO ALL ELEMENTS USING BEST PRACTICES*/
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    color: yellow;
}